* {
  box-sizing: border-box;
}

body,
input,
select,
textarea,
button,
pre {
  font-size: 16px;
  font-weight: 400;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  word-break: keep-all;
  box-sizing: border-box;
  color: #1A1A1A;
}

.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

a,
a:link,
a:visited,
a:hover a:focus,
a:active {
  display: inline-block;
  text-decoration: none;
  color: #1A1A1A;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

img {
  width: 100%;
  vertical-align: middle;
}