

@media screen and (max-width: 767px) {
  #common_header {
    @include pos(fixed, 0px, null, null, 0px, 1000);
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    & .header_inner {
      @include inner('responsive');
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      & .logo_wrap {
        & .logo_link {
          width: 216px;
        }
      }
      & .header_util {
        & .header_util_list {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #common_header {
    @include pos(fixed, 0px, null, null, 0px, 1000);
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    & .header_inner {
      @include inner('responsive');
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      & .logo_wrap {
        & .logo_link {
          width: 216px;
        }
      }
      & .header_util {
        & .header_util_list {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}


@media screen and (min-width: 1200px) {
  #common_header {
    @include pos(fixed, 0px, null, null, 0px, 1000);
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    & .header_inner {
      @include inner('desktop');
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0px;
      & .logo_wrap {
        & .logo_link {
          width: 324px;
        }
      }
      & .header_util {
        & .header_util_list {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}